:root {
     /* Paleta de colores */
    --g: #e5e5e5;
    --g2: #adb5bd;
    --g3: #d9d9d9;
    --b: #fff;
    --b2: #f0f2da;
    --n: #000;
    --n2: #291c1c;
    --v1: #a7c957;
    --v2: #abff4f;
    --v3: #29bf12;
    --az: #14213d;
    --az2: #003566;
    --a: #ffc300;
    --golden: #cca43b;
    --golden2: #e6b800;
}